<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>ecom | ...</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="icon" type="image/png" href="assets/images/icon.png" />
    <!-- css -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/metismenu.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/style.css" rel="stylesheet" type="text/css" />
    <script src="assets/js/modernizr.min.js"></script>

</head>

<body>

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        <div class="topbar">

            <!-- LOGO -->
            <div class="topbar-left">
                <button class="button-menu-mobile open-left waves-light waves-effect">
                    <i class="dripicons-menu"></i>
                </button>
                <a href="index.html" class="logo">
                    <span>
                        <!-- <img src="assets/images/logo.png" alt="" height="16"> -->
                        ecom
                    </span>
                    <!-- <span>
                            ecom
                    </span> -->
                    <!-- <i>
                        ecom
                    </i> -->
                </a>
            </div>

            <nav class="navbar-custom" >

                <ul class="list-unstyled topbar-right-menu float-right mb-0">

                    <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false"
                            aria-expanded="false">
                            <i class="fi-bell noti-icon"></i>
                            <span class="badge badge-danger badge-pill noti-icon-badge">4</span>
                        </a>

                    </li>

                    <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false"
                            aria-expanded="false">
                            <i class="fi-speech-bubble noti-icon"></i>
                            <span class="badge badge-light badge-pill noti-icon-badge">6</span>
                        </a>

                    </li>

                    <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false"
                            aria-expanded="false">
                            <!-- <img src="assets/images/users/avatar-1.jpg" alt="user" class="rounded-circle"> -->
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                            <span class="ml-1">Administrador
                                <i class="mdi mdi-chevron-down"></i>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                            <!-- item-->
                            <div class="dropdown-item noti-title">
                                <h6 class="text-overflow m-0">Bienvenido !</h6>
                            </div>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="fi-head"></i>
                                <span>Mi Cuenta</span>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="fi-cog"></i>
                                <span>Configuración</span>
                            </a>


                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="fi-lock"></i>
                                <span>Usuarios</span>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="fi-power"></i>
                                <span>Usuarios</span>
                            </a>

                        </div>
                    </li>

                </ul>

                <ul class="list-inline mb-0 d-flex menu_superior">
      

                    <li class="hide-phone">
                        <a class="nav-link waves-effect waves-light" href="#" >
                            <i class="fa fa-heart-o" aria-hidden="true"></i> Diseño
                        </a>
                    </li>

                    <li class="hide-phone">
                            <a class="nav-link waves-effect waves-light" href="#" >
                                <i class="fa fa-laptop" aria-hidden="true"></i> Publicaciones
                            </a>
                    </li>

                    <li class="hide-phone">
                            <a class="nav-link waves-effect waves-light" href="#" >
                                    <i class="fa fa-address-book-o" aria-hidden="true"></i> Comercial
                            </a>
                    </li>

                    <li class="hide-phone">
                            <a class="nav-link waves-effect waves-light" href="#" >
                                    <i class="fa fa-print" aria-hidden="true"></i> Producción
                            </a>
                    </li>
                    <li class="hide-phone">
                            <a class="nav-link waves-effect waves-light" href="#" >
                                    <i class="fa fa-area-chart" aria-hidden="true"></i> Reportes
                            </a>
                    </li>
                   

                    <!-- Caja de Buscador  -->
                    <!-- <li class="hide-phone app-search">
                            <form role="search" class="">
                                <input type="text" placeholder="Search..." class="form-control">
                                <a href=""><i class="fa fa-search"></i></a>
                            </form>
                        </li> -->
         



                </ul>

            </nav>

        </div>
        <!-- Top Bar End -->


        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">
            <div class="slimscroll-menu" id="remove-scroll">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu" id="side-menu">
                        <li class="menu-title">Navegación</li>
                        <li>
                            <a href="index.html">
                                <i class="fi-air-play"></i>
                                <span class="badge badge-danger badge-pill pull-right">3</span>
                                <span> Dashboard </span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript: void(0);">
                                <i class="fi-briefcase"></i>
                                <span>Sub Menú </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="nav-second-level" aria-expanded="false">
                                <li>
                                    <a href="ui-typography.html">Reporte</a>
                                </li>
                                <li>
                                    <a href="ui-cards.html">Reporte</a>
                                </li>
                                <li>
                                    <a href="ui-buttons.html">Reporte</a>
                                </li>
                                <li>
                                    <a href="ui-modals.html">Reporte</a>
                                </li>
                               
                                <li>
                                    <a href="ui-tabs.html">Reporte</a>
                                </li>
                                <li>
                                    <a href="ui-progressbars.html">Reporte</a>
                                </li>
                                <li>
                                    <a href="ui-notifications.html">Notification</a>
                                </li>
                               
                            </ul>
                        </li>
                

                    </ul>

                </div>
                <div class="clearfix"></div>

            </div>

        </div>

        <div class="content-page">
            <div class="content">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <h4 class="page-title float-left">Dashboard</h4>

                   

                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>


             
                    <div class="row">
                            <div class="col-xl-7">
                                <div class="card-box">
                                    <h4 class="header-title">Historial de Transacciones</h4>
    
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="text-center mt-3">
                                                <h6 class="font-normal text-muted font-14">Taza de Conversión</h6>
                                                <h6 class="font-18">
                                                    <i class="mdi mdi-arrow-up-bold-hexagon-outline text-success"></i>
                                                    <span class="text-dark">1.78%</span>
                                                    <small></small>
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="text-center mt-3">
                                                <h6 class="font-normal text-muted font-14">Valor promedio por orden</h6>
                                                <h6 class="font-18">
                                                    <i class="mdi mdi-arrow-up-bold-hexagon-outline text-success"></i>
                                                    <span class="text-dark">25.87</span>
                                                    <small>USD</small>
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="text-center mt-3">
                                                <h6 class="font-normal text-muted font-14">Total Balance</h6>
                                                <h6 class="font-18">
                                                    <i class="mdi mdi-arrow-up-bold-hexagon-outline text-success"></i>
                                                    <span class="text-dark">87,4517</span>
                                                    <small>USD</small>
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
    
                                    <canvas id="transactions-chart" height="350" class="mt-4"></canvas>
                                </div>
                            </div>
                            <div class="col-xl-5">
                                <div class="card-box">
                                    <h4 class="header-title">Historial de Ventas</h4>
    
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="text-center mt-3">
                                                <h6 class="font-normal text-muted font-14">Conversion Rate</h6>
                                                <h6 class="font-18">
                                                    <i class="mdi mdi-arrow-up-bold-hexagon-outline text-success"></i>
                                                    <span class="text-dark">3.94%</span>
                                                    <small></small>
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="text-center mt-3">
                                                <h6 class="font-normal text-muted font-14">Average Sales</h6>
                                                <h6 class="font-18">
                                                    <i class="mdi mdi-arrow-down-bold-hexagon-outline text-danger"></i>
                                                    <span class="text-dark">16.25</span>
                                                    <small>USD</small>
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="text-center mt-3">
                                                <h6 class="font-normal text-muted font-14">Total Sales</h6>
                                                <h6 class="font-18">
                                                    <i class="mdi mdi-arrow-up-bold-hexagon-outline text-success"></i>
                                                    <span class="text-dark">124,858.67</span>
                                                    <small>USD</small>
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
    
                                    <canvas id="sales-history" height="350" class="mt-4"></canvas>
                                </div>
                            </div>
                        </div>
    

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card-box">
                                <h4 class="header-title mb-4">Últimas Ventas por Clientes</h4>

                                <div class="inbox-widget slimscroll" >
                                    <a href="#">
                                        <div class="inbox-item">
                                            <div class="inbox-item-img">
                                                <img src="assets/images/users/avatar-1.jpg" class="rounded-circle bx-shadow-lg"
                                                    alt="">
                                            </div>
                                            <p class="inbox-item-author">Chadengle</p>
                                            <p class="inbox-item-text">Hey! there I'm available...</p>
                                            <p class="inbox-item-date">13:40 PM</p>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="inbox-item">
                                            <div class="inbox-item-img">
                                                <img src="assets/images/users/avatar-2.jpg" class="rounded-circle bx-shadow-lg"
                                                    alt="">
                                            </div>
                                            <p class="inbox-item-author">Tomaslau</p>
                                            <p class="inbox-item-text">I've finished it! See you so...</p>
                                            <p class="inbox-item-date">13:34 PM</p>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="inbox-item">
                                            <div class="inbox-item-img">
                                                <img src="assets/images/users/avatar-3.jpg" class="rounded-circle bx-shadow-lg"
                                                    alt="">
                                            </div>
                                            <p class="inbox-item-author">Stillnotdavid</p>
                                            <p class="inbox-item-text">This theme is awesome!</p>
                                            <p class="inbox-item-date">13:17 PM</p>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="inbox-item">
                                            <div class="inbox-item-img">
                                                <img src="assets/images/users/avatar-4.jpg" class="rounded-circle bx-shadow-lg"
                                                    alt="">
                                            </div>
                                            <p class="inbox-item-author">Kurafire</p>
                                            <p class="inbox-item-text">Nice to meet you</p>
                                            <p class="inbox-item-date">12:20 PM</p>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="inbox-item">
                                            <div class="inbox-item-img">
                                                <img src="assets/images/users/avatar-5.jpg" class="rounded-circle bx-shadow-lg"
                                                    alt="">
                                            </div>
                                            <p class="inbox-item-author">Shahedk</p>
                                            <p class="inbox-item-text">Hey! there I'm available...</p>
                                            <p class="inbox-item-date">10:15 AM</p>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="inbox-item">
                                            <div class="inbox-item-img">
                                                <img src="assets/images/users/avatar-6.jpg" class="rounded-circle bx-shadow-lg"
                                                    alt="">
                                            </div>
                                            <p class="inbox-item-author">Adhamdannaway</p>
                                            <p class="inbox-item-text">This theme is awesome!</p>
                                            <p class="inbox-item-date">9:56 AM</p>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="inbox-item">
                                            <div class="inbox-item-img">
                                                <img src="assets/images/users/avatar-8.jpg" class="rounded-circle bx-shadow-lg"
                                                    alt="">
                                            </div>
                                            <p class="inbox-item-author">Arashasghari</p>
                                            <p class="inbox-item-text">Hey! there I'm available...</p>
                                            <p class="inbox-item-date">10:15 AM</p>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="inbox-item">
                                            <div class="inbox-item-img">
                                                <img src="assets/images/users/avatar-9.jpg" class="rounded-circle bx-shadow-lg"
                                                    alt="">
                                            </div>
                                            <p class="inbox-item-author">Joshaustin</p>
                                            <p class="inbox-item-text">I've finished it! See you so...</p>
                                            <p class="inbox-item-date">9:56 AM</p>
                                        </div>
                                    </a>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card-box">
                                <h4 class="header-title mb-4">Observaciones</h4>

                                <div class="comment-list slimscroll" >
                                    <a href="#">
                                        <div class="comment-box-item">
                                            <div class="badge badge-pill badge-success">Ubold - Admin</div>
                                            <p class="commnet-item-date">1 month ago</p>
                                            <h6 class="commnet-item-msg">Do you have any plans to add a vertical menu?</h6>
                                            <p class="commnet-item-user">Ubold User</p>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="comment-box-item">
                                            <div class="badge badge-pill badge-warning">Adminox - Admin</div>
                                            <p class="commnet-item-date">1 month ago</p>
                                            <h6 class="commnet-item-msg">Hello, what is your plan to upgrade Bootstrap 4 versions? Beta or wait for stable?</h6>
                                            <p class="commnet-item-user">Ubold User</p>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="comment-box-item">
                                            <div class="badge badge-pill badge-primary">Staro - Landing</div>
                                            <p class="commnet-item-date">1 month ago</p>
                                            <h6 class="commnet-item-msg">Hi coderthemes – do you have PSD for this admin UI? I could really use it.</h6>
                                            <p class="commnet-item-user">Ubold User</p>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="comment-box-item">
                                            <div class="badge badge-pill badge-dark">Ubold - Admin</div>
                                            <p class="commnet-item-date">1 month ago</p>
                                            <h6 class="commnet-item-msg">Do you have any plans to add a vertical menu?</h6>
                                            <p class="commnet-item-user">Ubold User</p>
                                        </div>
                                    </a>
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="card-box">
                                <h4 class="header-title mb-4">Ventas por Día</h4>

                                <ul class="list-unstyled transaction-list slimscroll mb-0" >
                                    <li>
                                        <i class="dripicons-arrow-down text-success"></i>
                                        <span class="tran-text">Advertising</span>
                                        <span class="pull-right text-success tran-price">+$230</span>
                                        <span class="pull-right text-muted">07/09/2017</span>
                                        <span class="clearfix"></span>
                                    </li>

                                    <li>
                                        <i class="dripicons-arrow-up text-danger"></i>
                                        <span class="tran-text">Support licence</span>
                                        <span class="pull-right text-danger tran-price">-$965</span>
                                        <span class="pull-right text-muted">07/09/2017</span>
                                        <span class="clearfix"></span>
                                    </li>

                                    <li>
                                        <i class="dripicons-arrow-down text-success"></i>
                                        <span class="tran-text">Extended licence</span>
                                        <span class="pull-right text-success tran-price">+$830</span>
                                        <span class="pull-right text-muted">07/09/2017</span>
                                        <span class="clearfix"></span>
                                    </li>

                                    <li>
                                        <i class="dripicons-arrow-down text-success"></i>
                                        <span class="tran-text">Advertising</span>
                                        <span class="pull-right text-success tran-price">+$230</span>
                                        <span class="pull-right text-muted">05/09/2017</span>
                                        <span class="clearfix"></span>
                                    </li>

                                    <li>
                                        <i class="dripicons-arrow-up text-danger"></i>
                                        <span class="tran-text">New plugins added</span>
                                        <span class="pull-right text-danger tran-price">-$452</span>
                                        <span class="pull-right text-muted">05/09/2017</span>
                                        <span class="clearfix"></span>
                                    </li>

                                    <li>
                                        <i class="dripicons-arrow-down text-success"></i>
                                        <span class="tran-text">Google Inc.</span>
                                        <span class="pull-right text-success tran-price">+$230</span>
                                        <span class="pull-right text-muted">04/09/2017</span>
                                        <span class="clearfix"></span>
                                    </li>

                                    <li>
                                        <i class="dripicons-arrow-up text-danger"></i>
                                        <span class="tran-text">Facebook Ad</span>
                                        <span class="pull-right text-danger tran-price">-$364</span>
                                        <span class="pull-right text-muted">03/09/2017</span>
                                        <span class="clearfix"></span>
                                    </li>

                                    <li>
                                        <i class="dripicons-arrow-down text-success"></i>
                                        <span class="tran-text">New sale</span>
                                        <span class="pull-right text-success tran-price">+$230</span>
                                        <span class="pull-right text-muted">03/09/2017</span>
                                        <span class="clearfix"></span>
                                    </li>

                                    <li>
                                        <i class="dripicons-arrow-down text-success"></i>
                                        <span class="tran-text">Advertising</span>
                                        <span class="pull-right text-success tran-price">+$230</span>
                                        <span class="pull-right text-muted">29/08/2017</span>
                                        <span class="clearfix"></span>
                                    </li>

                                    <li>
                                        <i class="dripicons-arrow-up text-danger"></i>
                                        <span class="tran-text">Support licence</span>
                                        <span class="pull-right text-danger tran-price">-$854</span>
                                        <span class="pull-right text-muted">27/08/2017</span>
                                        <span class="clearfix"></span>
                                    </li>
                                </ul>

                            </div>
                        </div>

                    </div>





                </div>

            </div>
            <!-- content -->

            <footer class="footer text-right">
                    ecom  © 2018  - Todos los Derechos Reservados
            </footer>

        </div>



    </div>

    <!-- jQuery  -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/metisMenu.min.js"></script>
    <script src="assets/js/waves.js"></script>
    <script src="assets/js/jquery.slimscroll.js"></script>
    <script src="libs/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="libs/counterup/jquery.counterup.min.js"></script>

    <!-- Chart JS -->
    <script src="libs/chart.js/chart.bundle.js"></script>

    <!-- init dashboard -->
    <script src="assets/pages/jquery.dashboard.init.js"></script>

    <!-- App js -->
    <script src="assets/js/jquery.core.js"></script>
    <script src="assets/js/jquery.app.js"></script>

</body>

</html>